.component-pagecontent {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    display: inline-block;
}

.pagecontent-image {
    height: auto;
    width: 220px;
    float: left;
    padding-right: 15px;
}

.pagecontent-imagecontainer {
    padding-right: 10px;
}

.pagecontent-text {
    font-size: large;
}