.page-content{
    margin-right: 5%;
    margin-left: 5%;
    display: inline-block;
}

.text-card-container{
    float: right;
    width: 55%;
    height: auto;
    text-align: justify;
}

.text-card-container table{
    width: 100%;
}

.image-card-container{
    float: left;
}

.project{
    height: 750px;
    width: auto;
    margin-top: 1000px;
    margin-left: 5%;
    margin-right: 5%;
}

